{% extends "base.html" %}

{%block onload%}<body onload="initIndex()">{%endblock%}

{%block main %}
  <main>
    <div id="main-elem">
      <img id="Main-img" src="{{ url_for('static', filename='images/lake.jpg') }}" alt="a landscape photo of a large lake">
      <div class="small-img-group">
        <img id="smaller-img1" class="small-img" src="{{ url_for('static', filename='images/black-castle.jpg') }}" alt="The outside of a pub">
        <img id="smaller-img2" class="small-img" src="{{ url_for('static', filename='images/faces.jpg') }}"
          alt="A photo of a woman wearing a mask and with two more on her hands">
        <img id="smaller-img3" class="small-img" src="{{ url_for('static', filename='images/rock.jpg') }}" alt="a landscape photo of a large rock and wall">
        <img id="smaller-img4" class="small-img" src="{{ url_for('static', filename='images/bike.jpeg') }}" alt="an action shot of a bmx trick">
      </div>
      <div id="about-us">
        <h1>About Us</h1>
        <p>

            Based in the heart of Wicklow, we are dedicated to creating sustainable, handmade crafts and prints that celebrate the natural beauty of Ireland. Each piece is thoughtfully crafted using eco-friendly materials, inspired by the landscapes and culture that surround us. Our mission is to bring a touch of Ireland's charm into your home while supporting local artisans and promoting mindful, responsible creativity.<br>

            We believe that sustainability and artistry go hand in hand. By sourcing materials locally and minimizing our environmental impact, we ensure that every product not only looks beautiful but also aligns with our values of care for the environment. Our collection ranges from unique prints to handcrafted Jewelry, each telling a story of Irish heritage and craftsmanship.<br>

            Community is at the heart of what we do. We collaborate with local artists and craftspeople, fostering a network of creativity and support within Wicklow and beyond. Whether you are searching for a meaningful gift or a special piece for your own space, our creations are designed to inspire and connect you to the spirit of Ireland.<br>

            Thank you for supporting our journey and helping us make a positive impact—one handmade piece at a time.

        </p>
      </div>
    </div>


  </main>
  <footer>
    <div id="footer">
      <div id="form-elem">
        <h1>Contact us</h1>
        <h2>Looking for custom work ?</h2>
        <p>Send us an email with all the details and we will get back to you as soon as possible!</p>
        <form id="index-form" action="{{ url_for('form_submission') }}" method="POST">
          <label><span class="hidden">NAME</span>
            <input autocomplete="name" id="name-box" value="{{name}}" class="input-box" type="text" name="name" placeholder="Name...."
              required>
          </label>
          <label><span class="hidden">email</span>
            <input autocomplete="email" id="email-box" class="input-box" type="email" name="email"
              placeholder="Email...." required>
          </label>
          <label name="textbox"><span class="hidden">INPUT BOX</span>
            <textarea id="textbox" class="input-box" name="message" placeholder="Your Message Here...."
              required></textarea>
          </label>
          <label><span class="hidden">BOTCHECK</span>
            <input type="checkbox" name="botcheck" class="hidden" style="display: none;">
          </label>
          <button class="form-submit-button" type="submit">Send Message</button>

        </form>
{% endblock %}
{% block footer%}


    <a href="mailto:aaronrichards46@gmail.com" id="copyright">© 2025 Aaron Richards. All Rights Reserved.</a>


  </footer>
</body>
</html>
{%endblock%}
