{% extends "base.html" %}
{%block onload%}<body onload="storeItemInit()">{%endblock%}
{%block main%}
  <main>
  <div class="main-display-elem">
    <h1 class="print-desc">The Lighthouse Print</h1>
    <img id="main-display" src="../images/lighthouse.jpg" alt="image of someone jumping a gap infront of a lighthouse">
  </div>
    <div class="store-small-img-group">
    <img class="store-small-img" id="no-frame"  src={{ url_for('static', filename='images/lighthouse.jpg')}} alt="The same image of someone jumping a gap infront of a lighthouse">
    <img class="store-small-img" id="framed-img" src={{ url_for('static', filename='images/lighthouse-framed.JPG')}} alt="framed image of someone jumping a gap infront of a lighthouse">
    </div>

    <form id="item-choice">
    <div class="form-item">
      <label>Print Size:<select id="print-size">
        <option value="1">11"x17"</option>
        <option value="2">18"x24"</option>
        <option value="3">24"x36"</option>
        <option value="4">27"x40"</option>
      </select></label>
  </div>
  <div class="form-item">
    <label>Add Frame +€9.99:<input id="check" type="checkbox"></label>
  </div>
  <div class="form-item">
    <button id="store-submit" type="submit">Update Price</button>
  </div>
  <p> The Selected Print Will Cost:  <span id="item-price"></span></p>
  </form>
    <div class="item-desc">
      <h1 class="store-item-desc">About:</h1>
      <p class="store-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia laudantium soluta delectus eos quis illum vel, rerum necessitatibus earum architecto, veniam, sed maxime laboriosam tenetur aspernatur id. Corrupti, dolore aliquid?</p>
    </div>

  </main>
{%endblock%}
  {%block footer%}
    <footer id="footer">
    <a class="store-item-copyright" href="mailto:aaronrichards46@gmail.com" id="copyright">© 2025 Aaron Richards. All Rights Reserved.</a>
  </footer>
</body>
</html>
  {%endblock%}
