{% extends "base.html" %}
{%block onload%}<body onload="initStore()">{%endblock%}
{%block main%}

<main>

  <div id='form-elem'>
  {% if session['username'] %}

   <div id='logged-in'>
      <h1>Welcome back, {{session['username']}}</h1>
    </div>
    {% else %}
    <div id='log-in'>
      <h3>Returning Customer ?</h3>
      <span id='error' class='error-message'>{{message}}</span>
    <p>Enter your username and password to log-in or <a href="{{ url_for('account') }}">Click Here</a> to create an account</p>
      <form id='index-form' action="{{ url_for('login') }}" method='POST'>
        <label><span class="hidden">username</span><input  class='input-box' type='text' required name='username' placeholder='Username...'></label>
        <label><span class="hidden">password</span><input  class='input-box' type='password' required name='password' placeholder='Password...'></label>
        <button class="form-submit-button" type="submit">Log-in</button>
      </form>
    </div>
  {%endif %}

  </div>

  <div class="shop-elem">
    <a href="{{ url_for('blackcastle') }}" class="shop-item">
      <img class="shop-img" alt="Image of the front of a pub called the black castle" src={{ url_for('static', filename='images/black-castle.jpg')}}>
      <p class="shop-txt">Black Castle Pub Print<br>€6.00 - €25.99</p>
    </a>
    <a href="{{ url_for('faces') }}" class="shop-item">
      <img class="shop-img" alt="image taken of a person wearing multiple masks on a stage" src={{ url_for('static', filename='images/faces.jpg')}}>
      <p class="shop-txt">Faces Print<br>€6.00 - €25.99</p>
    </a>
    <a href="{{ url_for('lake') }}" class="shop-item">
      <img class="shop-img" alt="A landscape photo of a large lake in a valley" src={{ url_for('static', filename='images/lake.jpg')}}>
      <p class="shop-txt">Lake View Print<br>€6.00 - €25.99</p>
    </a>
    <a href="{{ url_for('sheep') }}" class="shop-item">
      <img class="shop-img" alt="image of a field with three sheep in view" src={{ url_for('static', filename='images/sheep-pic.jpg')}}>
      <p class="shop-txt">Three Sheep Print<br>€6.00 - €25.99</p>
    </a>
    <a href="{{ url_for('bmx') }}" class="shop-item">
      <img class="shop-img" alt="Image of a man doing a trick on a BMX bike" src={{ url_for('static', filename='images/bike.jpeg')}}>
      <p class="shop-txt">BMX Trick Print<br>€6.00 - €25.99</p>
    </a>
    <a href="{{ url_for('TaSe') }}" class="shop-item">
      <img class="shop-img" alt="image of the front of a pub covered in Guinness logos" src={{ url_for('static', filename='images/pub-2.jpg')}}>
      <p class="shop-txt">Tá Sé's Print<br>€6.00 - €25.99</p>
    </a>
    <a href="{{ url_for('bird') }}" class="shop-item">
      <img class="shop-img" alt="image of a small bird sitting on a branch" src={{ url_for('static', filename='images/bird.jpg')}}>
      <p class="shop-txt">Bird On A Tree Print<br>€6.00 - €25.99</p>
    </a>
    <a href="{{ url_for('lighthouse') }}" class="shop-item">
      <img class="shop-img" alt="image of someone jumping a gap in front of a lighthouse" src={{ url_for('static', filename='images/lighthouse.jpg')}}>
      <p class="shop-txt">The Lighthouse Print<br>€6.00 - €25.99</p>
    </a>
    <a href="{{ url_for('hills') }}" class="shop-item">
      <img class="shop-img" alt="image of an open field with rolling hills in the background" src={{ url_for('static', filename='images/fields.jpg')}}>
      <p class="shop-txt">Rolling Hills Print<br>€6.00 - €25.99</p>
    </a>
    <a href="{{ url_for('evischen') }}" class="shop-item">
      <img class="shop-img" alt="image of a musician holding a mini drum with a symbal attached about to tap it" src={{ url_for('static', filename='images/evicshen-opium.jpg')}}>
      <p class="shop-txt">Evicshen In Opium<br>€6.00 - €25.99</p>
    </a>
  </div>
</main>
  <footer id="footer">
  <div class="store-footer">
    <h1>Try Our Easy Shipping Calculator</h1>
    <div id="shipping-calculator">
      <label name="shipping-calculator">Select your Area to get a quick shipping estimate:<select class="input-box" name="shipping-calculator"
          id="shipping-location">
          <option value="1">Ireland</option>
          <option value="2">U.K</option>
          <option value="3">Europe</option>
          <option value="4">Rest Of The World</option>
        </select> </label>
    </div>
    <p class="shipping-txt">Shipping to <span id="drop-selection"></span> Will Cost €<span
        id="calculator-output"></span></p>
    </div>
{%endblock%}
{% block footer%}


    <a href="mailto:aaronrichards46@gmail.com" id="copyright">© 2025 Aaron Richards. All Rights Reserved.</a>


  </footer>
</body>
</html>
{%endblock%}
